
.header, .scrivener, #footer, .prompt-label {
    color: #006699;
}

.quiz-header {
    margin-left: 30px;
}

.main-text {
    font-size: 18px;
}

.title {
    font-style: italic
}

.scrivener-body {
    margin: 30px 0 0 10px;
    width: 60%;
}

#generate_items_form {
    width: 60%;
}

input, select {
    margin-left: 10px;
}

// search bar styles

#search-form-input {
    margin-bottom: 10px;
}

.search-bar span {
    background-color: #FFF;
}

.search-bar input {
    border-right-style:none;
}

// search button

#search-button {
    display: none;
}

// jobs table styles

#jobs-table {
    margin-top: 10px;
}

#jobs-table-header {
    margin-bottom: 10px;
}
.jobs-table-header-td {
    font-weight: bold;
}


div.show-grid.row:nth-child(odd) {
    background: white;
}

div.show-grid.row:nth-child(even) {
    background: #CCFFFF;
}


// footer

#footer {
    text-align: center;
    font-size: 14px;
}

#footer-row {
    position: absolute;
    width: 70%;
    bottom: 20px;
}

// thanks to Manuel M. Almeida, https://medium.com/@mmeida/how-to-insert-the-copyleft-symbol-f093113cc2cf
.copy-left { 
    display: inline-block; 
    text-align: 
    right; margin: 0px; 
    -moz-transform: scaleX(-1); 
    -o-transform: scaleX(-1); 
    -webkit-transform: scaleX(-1); 
    transform: scaleX(-1); 
    filter: FlipH; 
    -ms-filter: “FlipH”;
}

// true-false forms
.prompt-label {
    font-weight: bold;
}